<div id="login-wrapper" class="grid m-0 p-0">
    <div
      id="login"
      class="flex flex-column gap-3 sm:w-full md:w-5 md:mx-auto lg:py-5 lg:px-3 lg:w-4"
    >
      <div
        class="flex flex-column w-full justify-content-center align-items-center pt-4"
      >
        <div class="w-full px-3 justify-content-center flex align-items-center">
          <img
            src="../../../assets/images/guest/check-email.svg"
            class="w-3"
            alt="Verify Logo"
          />
        </div>
        <h2 class="font-normal">Check your email</h2>
      </div>
  
      <div
        class="flex flex-column gap-4 surface-ground p-3 border-round border-1 border-black-alpha-10"
      >
        <p class="font-normal m-0">
          You're close to changing your password. We've sent a password reset link
          to your email. Please check your inbox. In case you don't see the email,
          please also check your spam or junk folder to ensure you don't miss it.
          🙌
        </p>
      </div>
  
      <div class="w-full mt-6">
        <app-form-links></app-form-links>
      </div>
    </div>
  </div>