<div class="flex flex-column gap-3">
  <h3 class="text-base m-0 text-xl">Your booking information</h3>
  <div
    class="flex surface-ground flex-column w-full surface-border border-round border-1 p-3 gap-3 md:w-30rem md:mx-auto"
  >
    <div
      class="w-full flex justify-content-between align-items-center pb-3 border-bottom-1 surface-border"
    >
      <h5 class="text-color-secondary text-base m-0">{{ desk.title }}</h5>
      <i class="pi pi-book"></i>
    </div>
    <div class="max-h-10rem h-10rem mx-auto">
      <img
        class="w-full shadow-4"
        style="object-fit: contain; max-height: 100%"
        [src]="getImage()"
        alt="Hotdesk"
      />
    </div>

    <div class="w-full flex flex-column gap-3">
      <div
        style="border: 1px solid #424b57"
        class="flex w-full gap-2 align-items-center justify-content-start surface-border border-round p-3"
      >
        <i class="pi pi-calendar" style="color: var(--primary-color)"></i>
        <p class="text-primary font-bold">
          {{ reservation.date | date : "mediumDate" }}
        </p>
      </div>
      <div
        style="border: 1px solid #424b57"
        class="flex w-full gap-2 align-items-center justify-content-start surface-border border-round p-3"
      >
        <i class="pi pi-info-circle" style="color: var(--primary-color)"></i>
        <p class="text-primary font-bold">Area {{ reservation.area }}</p>
      </div>
      <p-accordion [activeIndex]="0">
        <p-accordionTab
          header="Workspace Essentials"
          pStyleClass="text-color-secondary"
        >
          <div class="flex w-full gap-1 flex-column lg:flex-row">
            <p-chip
              styleClass="text-xs"
              *ngFor="let essential of desk.workspaceEssentials"
              [label]="essential"
            ></p-chip>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

  </div>
  <p-divider></p-divider>

  <div class="w-full flex flex-column-reverse gap-3 justify-content-between align-items-center md:flex-row">
    <div class="w-full flex gap-3 justify-content-between">
      <p-button
        styleClass="w-full py-2 px-3 p-button-info"
        [disabled]="isLoading"
        label="Back"
        icon="pi pi-arrow-circle-left"
        (onClick)="back()"
      ></p-button>
      <p-button
        styleClass="w-full py-2 px-3 p-button-danger"
        label="Void"
        [disabled]="isLoading"
        icon="pi pi-times-circle"
        (onClick)="confirm($event)"
      ></p-button>
    </div>
    <p-button
      id="reserve"
      class="w-full md:w-max"
      styleClass="w-full py-2 px-3 p-button-success"
      label="Reserve"
      [disabled]="isLoading"
      (onClick)="reserve()"
      icon="pi pi-calendar-plus"
    ></p-button>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
