<!-- <div class="flex flex-column mb-2 md:flex-row md:gap-2 lg:gap-3 max-w-full">
    @for (item of cardContent; track $index) {
    <div
      class="card shadow-1 flex flex-column justify-content-between mb-3 md:w-3"
    >
      <div>
        <h5 class="text-normal text-color-secondary">{{ item.title }}</h5>
      </div>
      <div class="flex justify-content-between">
        <h5 class="m-0">{{ item.count }}</h5>
        <a [routerLink]="item.routerLink">
          <p-avatar
            styleClass="bg-primary text-color-primary"
            icon="pi pi-{{ item.icon }}"
            size="normal"
          ></p-avatar>
        </a>
      </div>
    </div>
    }
  </div>
  <div class="card shadow-1 xl:flex xl:gap-3 xl:flex-row">
    <div class="xl:w-8">
      <h5>Reservation Trends</h5>
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
    <div class="hidden xl:block xl:w-4">
      <h5>Active Users</h5>
      <p *ngIf="activeUsers.length === 0">There's no one else here...</p>
      @if (activeUsers.length !== 0) {
      <ng-container *ngFor="let user of activeUsers">
        <app-active-user [user]="user" />
      </ng-container>
      }
    </div>
  </div>
  
  <div class="flex flex-column md:flex-row md:gap-3">
    <div class="card w-full md:w-6">
      <div class="flex justify-content-between align-items-center ">
        <h5>Your reservations</h5>
        <a routerLink="/hdbsv2/profile">View All</a>
      </div>
      <p-calendar
        styleClass="w-full"
        class="w-full max-w-full"
        [formControl]="date"
        [inline]="true"
        [showWeek]="false"
      ></p-calendar>
    </div>
    <div class="card w-full md:w-6 mb-5">
      <div class="flex justify-content-between align-items-center">
        <h5>Recent Activities</h5>
        <a routerLink="/hdbsv2/logs">View All</a>
      </div>
      <p *ngIf="recentActivities.length === 0">Guess no one has accessed the system yet...</p>
  
      @if (recentActivities.length !== 0) {
        @for (activity of recentActivities; track $index) {
          
          <div class="flex flex-column gap-1">
            <div class="flex justify-content-between">
              <div class="flex flex-column gap-2">
                <p class="m-0 overflow-ellipsis xl:max-w-full" style="max-width: 200px;">
                  {{ activity.email }}
                </p>
                <p class="text-xs text-color-secondary m-0">{{ activity.actionDetails }}</p>
              </div>
              <p-tag [severity]="getSeverity(activity.status)">{{activity.status}}</p-tag>
            </div>
            <p-divider></p-divider>
          </div>
        }
      }
  
    </div>
  </div> -->

<div class="w-full flex flex-column-reverse gap-3 md:grid md:flex-row mb-3">
  <div class="card flex m-0 md:col-6 md:p-5 lg:col-8">
    <div
      class="w-full flex flex-column gap-3 justify-content-center align-items-start md:align-items-center md:flex-row"
    >
      <img
        class="h-6rem xl:h-16rem border-round"
        style="aspect-ratio: 1/1; object-fit: cover"
        [src]="userService.getUser()?.avatar"
        alt="avatar"
      />
      <div
        class="w-full flex flex-column justify-content-center align-items-start gap-3"
      >
        <h4 class="m-0 xl:text-7xl">
          Welcome, {{ userService.getUser()?.username }}!
        </h4>
        <p class="xl:text-xl">
          Ready to start your day? Let's start by being productive.
        </p>
      </div>
    </div>
  </div>
  <div
    class="card hidden justify-content-center flex flex-column md:align-items-center md:col-6 md:p-5 lg:col-4"
  >
    <h3>Desks today</h3>
    <p-chart type="pie" [data]="pieData" [options]="pieOptions" />
  </div>
</div>

<div class="flex flex-column md:flex-row md:gap-2 lg:gap-3 max-w-full">
  @for (item of cardContent; track $index) {
  <div
    class="gradient card flex flex-column justify-content-between mb-3 md:w-3"
  >
    <div>
      <h5 class="text-normal text-color-secondary">{{ item.title }}</h5>
    </div>
    <div class="flex justify-content-between">
      <h5 class="m-0">{{ item.count }}</h5>
      <p-avatar
        styleClass="bg-primary text-color-primary"
        icon="pi pi-{{ item.icon }}"
        size="normal"
      ></p-avatar>
    </div>
  </div>
  }
</div>

<!-- <div class="w-full card mb-3">
  <h3>Your reservation trend</h3>
  <p-chart type="bar" [data]="data" [options]="options" />
</div> -->

<div class="w-full mb-3 gap-3 flex flex-column md:flex-row align-stretch">
  <div class="card md:w-4 m-0">
    <h3>Your bookings</h3>

    <div class="w-full flex flex-column gap-1">
      @for (reservation of selfReservations.slice(0, 4); track $index) {
      <div
        class="w-full flex justify-content-between align-items-center surface-border surface-ground p-3 border-1 border-round"
      >
        <div class="div flex gap-3 align-items-center">
          <img
            [src]="getImage(reservation)"
            alt="desk"
            style="aspect-ratio: 1/1; object-fit: contain"
            class="h-4rem"
          />
          <div class="w-full flex flex-column gap-3 justify-content-center">
            <p class="m-0 font-bold">Hotdesk #{{ reservation.deskNumber }}</p>
            <p class="m-0">{{ reservation.date | date : "mediumDate" }}</p>
          </div>
        </div>

        <p-tag [severity]="getSeverity(reservation.status, 'reservations')">{{
          reservation.status
        }}</p-tag>
      </div>
      }
    </div>
  </div>

  <div class="card md:w-8">
    <div
      class="flex flex-column mb-3 w-full justify-content-between align-items-start md:flex-row md:m-0"
    >
      <h3 class="w-full">Your calendar</h3>
      <div class="flex w-full align-items-center md:justify-content-end">
        <p-tag styleClass="mr-3" severity="info">APPROVED</p-tag>
        <p-tag styleClass="mr-3" severity="danger">PENDING</p-tag>
        <p-tag styleClass="mr-3" severity="success">STARTED</p-tag>
      </div>
    </div>
    <p-calendar
      [inline]="true"
      styleClass="w-full"
      [formControl]="date"
      #calendar
    >
      <ng-template pTemplate="date" let-date>
        <span
          class="border-round h-full w-full flex justify-content-center align-items-center"
          [ngClass]="getStyleForDate(date)"
        >
          {{ date.day }}
        </span>
      </ng-template></p-calendar
    >
  </div>
</div>
<p-divider></p-divider>

<!-- ADMIN -->
<div
  *ngIf="
    userService.getUser()?.role == 'admin' ||
    userService.getUser()?.role == 'superadmin'
  "
  class="w-full mb-3 gap-3 flex flex-column md:flex-row-reverse align-stretch"
>
  <div class="card md:w-5 m-0">
    <h3>Recent activities</h3>
    <ng-container *ngIf="recentActivities.length; else noActivities">
      <ng-container
        *ngFor="let activity of recentActivities;"
      >
        <div class="flex flex-column gap-1">
          <div class="flex justify-content-between">
            <div class="flex flex-column gap-2">
              <p
                class="m-0 overflow-ellipsis xl:max-w-full"
                style="max-width: 200px"
              >
                {{ activity.email }}
              </p>
              <p class="text-xs font-semibold text-color-secondary m-0">
                {{ activity.actionDetails }}
              </p>
            </div>
            <p-tag [severity]="getSeverity(activity.status, 'activity')">
              {{ activity.status.toUpperCase() }}
            </p-tag>
          </div>
          <p-divider></p-divider>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #noActivities>
      <p>It's quiet in here...</p>
    </ng-template>
  </div>

  <div class="card md:w-7">
    <h3>Users reservation trend</h3>
    <p-chart type="line" [data]="lineData" [options]="options"></p-chart>
  </div>
</div>

<!-- OM -->
<div
  *ngIf="userService.getUser()?.role == 'om'"
  class="w-full mb-3 gap-3 flex flex-column md:flex-row-reverse align-stretch"
>
  <div class="card md:w-5 m-0">
    <h3>Desk recommendation</h3>
    @for (item of [1,2,3]; track $index) {
    <div
      class="w-full flex justify-content-between align-items-center surface-border surface-ground p-3 border-1 border-round"
    >
      <div class="div flex gap-3 align-items-center">
        <img
          [src]="'../../../assets/images/map/desk-area/' + item + '.png'"
          alt="desk"
          style="aspect-ratio: 1/1; object-fit: contain"
          class="h-4rem"
        />
        <div class="w-full flex flex-column gap-3 justify-content-center">
          <p class="m-0">Hotdesk 5</p>
          <p class="m-0">June 3, 2024</p>
        </div>
      </div>

      <p-tag>Area: 2</p-tag>
    </div>
    }
  </div>

  <div class="card md:w-7">
    <h3>Users reservation trend</h3>

    <p-chart type="line" [data]="lineData" [options]="options"></p-chart>
  </div>
</div>
