#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


@media screen and (min-width: 768px) {
    #grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .pi-star-fill{
        font-size: 1.5rem !important;
    }
}